<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>E:\UDEMY COURSES\Kafka\microservices\Repository\banking-account</localRepository>
    <interactiveMode>false</interactiveMode>
    <profiles>
        <profile>
            <id>dev</id>
            <properties>
                <java.version>17</java.version>
                <spring.profiles.active>dev</spring.profiles.active>
            </properties>
        </profile>
        <profile>
            <id>prod</id>
            <properties>
                <java.version>17</java.version>
                <spring.profiles.active>prod</spring.profiles.active>
            </properties>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>dev</id>
            <username>root</username>
            <password>root</password>
        </server>
    </servers>

</settings>